:root {
  --main-text-color: #3c4c42;
  --light-text-color: #61756f;
  --light-grey-bg: #f4f6f5;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: "tt-commons-pro", Helvetica, sans-serif;
  color: var(--main-text-color);
}

.brand {
  font-weight: 700;
}

header {
  background-color: var(--light-grey-bg);
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 4rem;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

nav {
  background-color: var(--light-grey-bg);
  position: fixed;
  z-index: 9998;
  bottom: 0;
  width: 100%;
  height: 4rem;
  display: flex;
}
nav a {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  i {
    font-size: 1.5rem;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 1rem 1rem;
  gap: 1rem;
}

button.solid {
  font-family: "tt-commons-pro", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  background-color: var(--light-grey-bg);
  color: var(--light-text-color);
  border-radius: 3rem;
  padding: 0.6666rem 1rem;
}

h1 {
  text-align: center;
}

img.album-img{
  border-radius: .3333rem;
  box-shadow: 0 0 12px rgba(27, 31, 29, .07);
}

#shadow-root .videocontrols .controlsContainer{
  display: flex;
}